*.exe
*.backup
*.tfplan
*.tfstate
*.hcl
*.info
*.info
*.zip
subscriptions.txt
*.json
password.txt
/terraform/
/Media Files/
/Old Files/
*.msi
*.tf
PackagingFactoryConfig-main/DomainCred.xml
PackagingFactoryConfig-main/LocalCred.xml
StorageSP.xml
tenant.txt
subscription.txt
PackagingFactoryConfig-main/VMConfig.ps1
PackagingFactoryConfig-main/VMConfigTmpl.ps1
PackagingFactoryConfig-main/MapDrv.ps1
sp.txt
dj.txt
PackagingFactoryConfig-main/DomainJoinTmpl.ps1
PackagingFactoryConfig-main/DomainJoin.ps1
PackagingFactoryConfig-main/Build-VM.ps1
PackagingFactoryConfig-main/Build-VM.ps1
PackagingFactoryConfig-main/Build-VM.ps1
PackagingFactoryConfig-main/Prevision.ps1
