*.exe
*.backup
*.tfplan
*.tfstate
*.hcl
*.info
*.info
*.zip
subscriptions.txt
*.json
password.txt
/terraform/
/Media Files/
*.msi
*.tf
PackagingFactoryConfig-main/DomainCred.xml
PackagingFactoryConfig-main/LocalCred.xml
